<!-- <div *ngIf="!(item == undefined) && !(item.display) " [ngStyle]="{'height': height + 'px', 'background': 'white'}">
  <div style="display: flex; flex-direction: row; padding: 5px; align-items: center; background: white;">
    <div class="invoice-column" style="flex: .5; align-items: flex-start;">
      <div *ngIf="item.returnQ > 0" class="return-notification">Item Returned ({{item.returnQ}})</div>
      <div class="label-value-item">
        <div class="invoice-labels">Item: &nbsp;</div>
        <div class="invoice-values">{{name}}</div>
      </div>
      <div class="label-value-item">
        <div class="invoice-labels">Seller: &nbsp;</div>
        <div class="invoice-values"> {{seller}}</div>
      </div>
      <div class="label-value-item">
        <div class="invoice-labels">Qty:  &nbsp; </div>
        <div class="invoice-values">{{quantity}}</div>
      </div>
    </div>
    <div class="invoice-column" style="flex: .5; align-items: flex-start;">
      <div class="label-value-item">
        <div class="invoice-labels">Item Tax:  &nbsp;  </div>
        <div class="invoice-values">${{tax | number : '.2-2'}}</div>
      </div>
      <div class="label-value-item">
        <div class="invoice-labels">Item Shipping:  &nbsp; </div>
        <div class="invoice-values">${{shipping | number : '.2-2'}}</div>
      </div>
      <div class="label-value-item">
        <div class="invoice-labels">Item Price:  &nbsp; </div>
        <div class="invoice-values">${{price | number : '.2-2'}}</div>
      </div>
    </div>
    <div class="invoice-column" style="flex: 1; align-items: flex-end;">
      <div class="label-value-item">
        <div class="invoice-labels">Total:  &nbsp; </div>
        <div class="invoice-values">${{total | number : '.2-2'}}</div>
      </div>
    </div>
    <div class="invoice-column" style="flex: .5; align-items: center;">
      <a class="btn material-icons arrow-buttons" (click)="increaseItemQuantity()">keyboard_arrow_up</a>
      <span style="flex: 1;">{{quantity}}</span>
      <a class="btn material-icons arrow-buttons" (click)="decreaseItemQuantity()">keyboard_arrow_down</a>
    </div>
    <div style="flex: .5;">
      <a class="btn confirm-button" (click)="confirm()" style="margin-bottom: 2px; flex: 1; margin-right: 1px;">Confirm</a>
      <a class="btn cancel-button" (click)="cancel()" style="margin-bottom: 2px; flex: 1; margin-left: 1px;">Cancel</a>
    </div>


    <div >

    </div>
  </div>
</div>



<div *ngIf="!(invoice.display)" [ngStyle]="{'height': height + 'px', 'background': 'white'}">
  <div [ngStyle]="{'display' : 'flex', 'max-width' : '100%', 'align-items' : 'flex-start'}">
    <div class="invoice-row">
      <div class="invoice-column" style="flex: 1; align-items: flex-start;">
        <div class="label-value-item">
          <div class="invoice-labels">Tax:  &nbsp; </div>
          <div class="invoice-values">${{invoice.tax | number : '.2-2'}}</div>
        </div>
        <div class="label-value-item">
          <div class="invoice-labels">Shipping:  &nbsp; </div>
          <div class="invoice-values">${{invoice.shipping | number : '.2-2'}}</div>
        </div>
        <div class="label-value-item">
          <div class="invoice-labels">Items:  &nbsp; </div>
          <div class="invoice-values">{{invoice.purchasedItems.length}}</div>
        </div>
        <div class="label-value-item">
          <div class="invoice-labels">Total:  &nbsp; </div>
          <div class="invoice-values">${{invoice.total | number : '.2-2'}}</div>
        </div>
      </div>
      <div class="invoice-column" style="flex: 2; align-items: flex-start;">
          <div class="label-value-item">
            <div class="invoice-labels">Confirm return:  &nbsp; </div>
              <a class="btn confirm-button" (click)="confirm2()" style="margin-bottom: 2px; flex: 1; margin-right: 1px;">Confirm</a>
              <a class="btn cancel-button" (click)="cancel2()" style="margin-bottom: 2px; flex: 1; margin-left: 1px;">Cancel</a>
            </div>
        </div>
    </div>
  </div>
</div>
 -->
