<ngb-carousel>
  <ng-template ngbSlide>
      <img src="https://static.toiimg.com/photo/72975551.cms" alt="Delhi Metro">
      <div class="carousel-caption">
          <h3 style="color: yellow">Delhi Metro</h3>
      </div>
  </ng-template>
  <ng-template ngbSlide>
      <img src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg" alt="Bangalore Metro">
      <div class="carousel-caption">
          <h3 style="color: yellow">Bangalore Metro</h3>
      </div>
  </ng-template>
  <ng-template ngbSlide>
      <img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Channai Metro">
      <div class="carousel-caption">
          <h3 style="color: yellow">Channai Metro</h3>
      </div>
  </ng-template>
</ngb-carousel>
