.cardList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5px;
  row-gap: 10px;
}

.purchasesContainer{
  display: flex;

}

.card-body{
}


.card-img-top{
  height: 300px;
}
.emptyPurchases{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}


.card-text{
  margin-bottom: 10px;
  overflow-y: scroll;
}

