<!-- <div *ngIf="showPurchases" class="purchasesContainer">
  <div class="cardList">
    <ng-container *ngFor="let item of purchasedItems">
      <div class="card flex-item" style="width: 100%;">
        <img class="card-img-top" src="https://sm.pcmag.com/t/pcmag_in/news/a/amazon-fra/amazon-france-briefly-lists-ps5-price-and-release-date_b13v.1920.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.name}} {{item.amount}}</h5>
          <p class="card-text" style="height: 150px;">{{item.description}}</p>
          <a class="btn btn-primary">Make a return</a>
        </div>
      </div>
    </ng-container>
  </div>
</div> -->

<div class="emptyPurchases" *ngIf="!showPurchases">
  <div >No purchases have been made yet!</div>
</div>

<div *ngIf="showPurchases" class="purchasesContainer">
  <div class="cardList">
    <ng-container *ngFor="let item of purchasedItems" style="border: 3px solid black;">
      <div class="head">Hello</div>
      <div class="body">Hello</div>
    </ng-container>

  </div>
</div>
