



.item-header{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
 }

 .item-body{
  display: flex;
  flex-direction: column;
  height: fit-content;

 }

 .item-carousel{
   flex: 1;
   display: block;

 }

 .item-general-info{
   padding: 5px;
   flex: 1;
   display: flex;
   flex-direction: column;
   background: transparent;
   height: 300px;
 }

 .item-container{
   display: block;
   border-top: black solid 2px;
   border-bottom: black solid 2px;

 }

 .heading{
   display: flex;
   align-self: start;
   width: 100%;


 }
.material-icons{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

}

.reviews{
  background-color: rgb(255, 255, 255);
  margin: 5px;
  display: grid;
  justify-content: start;
  align-items: center;
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

}

.review-rating{
  display: flex;
  flex-direction: row;
  flex: 5;

}

.name {
  flex: 1;
  grid-column: 1;
  grid-row: 1;
}



.description {
  grid-column:5/ span 12;
  grid-row: 1;
  max-height: 150px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
