<div class="item-container">
  <div class="item-header">
    <div class="item-carousel">
      <app-carousel style="flex: 1;"></app-carousel>
    </div>

    <div class="item-general-info">
      <div class="heading">
        <h1 style="margin-right: 10px;">{{item.name}}
        </h1>
        <div *ngFor="let dummy of ' '.repeat(item.rating).split(''), let x = index" class="material-icons" style="font-size:30px;">star</div>
        <div style="flex: 6; align-self: center; display: flex; align-items: flex-end; justify-content: flex-end;">
          <a class="btn btn-primary" (click)="onaddtoCart(item)" style="align-self: center; margin-right: 2.5px;">Add to cart</a>
          <a class="btn btn-primary" (click)="onBackclick(item)" style="align-self: center; margin-left: 2.5px;">Go Back</a>


        </div>


      </div>
      <h2>${{item.amount}}</h2>
      <p style="overflow-y: scroll;">{{item.description}}</p>
    </div>
  </div>

  <div class="item-body">
    <div *ngFor="let review of item.reviews" class="reviews">
        <div class="name">{{review.name}}</div>
        <div class="review-rating">
          <div *ngFor="let dummy of ' '.repeat(review.rating).split(''), let x = index" class="material-icons" style="font-size:30px;">star</div>

        </div>
        <div class="description">{{review.comment}}</div>
    </div>
  </div>


</div>
