
.card-img-top{
  height: 150px;
}

/*
.cardList {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
} */
/* Column Gap */
.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 10px;
}
/* Column Gap */

.cartContainer{
  margin: 10px;
}



.checkoutContainer{
  margin: 10px;
  column-gap: 10px;
  display: flex;
  align-content: flex-start;
}

.empty-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.total{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: blue;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.card-title{
  margin-bottom: 5px;

}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;

}


.card-text{
  margin-bottom: 10px;
  overflow-y: scroll;
}
