<div class="cartContainer">
  <div class="checkoutContainer">
    <div style="margin-right: 1px;"class="total">Total: ${{cartTotal}}</div>
    <a style="margin-left: 1px; margin-right: 1px;"class="btn btn-success" (click)="checkout()">Checkout</a>
    <a style="margin-left: 1px;" class="btn btn-danger" (click)="clear()">Clear</a>
  </div>
  <div *ngIf="showlist" class="cardList">
    <ng-container *ngFor="let cartItem of cartItems; let i = index">
      <div class="card flex-item" style="width: 18rem;">
        <img class="card-img-top" src="https://sm.pcmag.com/t/pcmag_in/news/a/amazon-fra/amazon-france-briefly-lists-ps5-price-and-release-date_b13v.1920.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title" style="height: 20px;">
            <div class="name"> {{cartItem.name}} </div>
            <div class="amount"> ${{cartItem.individualPrice}} </div>
            <div class="qty">Qty: {{cartItem.qty}}</div>
          </h4>
          <div class="shipping-tax" style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
            <h6 class="shippingFee" style="height: 20px; margin-bottom: 5px;">+ shipping ${{cartItem.shippingFee}}</h6>
            <h6 class="tax" style="height: 20px; margin-bottom: 5px;">+ tax ${{cartItem.tax}}</h6>
          </div>
          <h6 class="total-1" style="height: 20px; margin-bottom: 5px;">Total ${{cartItem.total}}</h6>
          <p style="height: 140px;" class="card-text">{{cartItem.description}}</p>
          <a class="btn btn-success" (click)="buyItem(cartItem)" style="margin-bottom: 2px;">Purchase</a>
          <div class="quantity" style="display: flex; flex-direction: row; width: 100%;">
            <a class="btn btn-danger" (click)="increaseItemQuantity(cartItem)"  style="margin-bottom: 2px; flex: 1; margin-right: 1px;">+</a>
            <a class="btn btn-danger" (click)="decreaseItemQuantity(cartItem)"  style="margin-bottom: 2px; flex: 1; margin-left: 1px;">-</a>
          </div>
          <a class="btn btn-primary" (click)="showMore(cartItem)">Show more</a>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="empty-cart" *ngIf="!showlist">
    <div>
      cart is empty

    </div>
  </div>
</div>



