
/* Containers */
.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  row-gap: 20px;
  padding: 10px;
}

.cartContainer{
  background-color: rgba(190, 239, 200, 0.97);
  /* padding-top: 5px; */
  padding-bottom: 5px;
}

.checkoutContainer{
  padding: 5px;
  display: flex;
  align-content: flex-start;
  background: rgba(190, 239, 200, 0.97);

}
/* Empty cart message */
#empty-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

/* Div ID's */

#total{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  margin-bottom: 5px;
}

#quantity{
  display: flex;
  flex-direction: row;
  width: 100%;
}

#info{
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

/* Button and Label stylings  */

.showmore-button{
  color: black;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  border: black 1px solid;
  border-radius: 3px;
  text-align: center;
}

.showmore-button:hover{
  background-color: #5bc0de;
}


