<div id="admin-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
      <div style="display: flex; flex-direction: row; justify-content: initial; column-gap: 10px;" [ngSwitch]="menu">
        <div class="label confirm-button btn" style="padding: 5px" (click)="changeMenu(1)">View Catalog</div>
        <div class="label confirm-button btn" style="padding: 5px"(click)="changeMenu(2)">View Customers</div>
        <div class="label confirm-button btn" style="padding: 5px" (click)="changeMenu(3)">Add catalog item</div>
      </div>
      <div style="display: flex; flex-direction: row; justify-content: initial; column-gap: 10px;">
        <div class="label cancel-button btn" style="padding: 5px" (click)="onSwitchToUser()">Switch to user account</div>
        <div class="label cancel-button btn" style="padding: 5px" (click)="onLogout()">Logout</div>
      </div>
    </div>
  </nav>
  <mat-progress-bar *ngIf="!areUsersLoaded && !isCatalogLoaded" mode="indeterminate"></mat-progress-bar>
  <div style="margin: 10px; border: 4px black solid; border-radius: 4px;" *ngIf="menu == 1">
    <h1 class="label" style="padding: 10px;">Catalog</h1>
    <div style="display: flex; flex-direction: row; padding: 10px;">
      <div style="flex: 1" class="label">Item name</div>
      <div style="flex: 1" class="label">Manufacturer</div>
      <div style="flex: 1" class="label">Price</div>
      <div style="flex: 1" class="label">Tax</div>
      <div style="flex: 1" class="label">Shipping</div>
    </div>
    <div *ngFor="let item of catalogItems; let i = index" style="display: flex; flex-direction: column; padding: 10px;" [ngStyle]="{backgroundColor: i % 2 !== 0 ? 'rgba(226, 248, 231, 0.97)' : 'rgba(190, 239, 200, 0.97)'}">
      <div style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; margin-top: 10px; margin-bottom: 10px;" >
        <div style="flex: 1" class="value">{{item.name}}</div>
        <div style="flex: 1" class="value" *ngIf="item.manufacturer" [ngStyle]="{display: item.manufacturer ? 'flex' : 'none'}">{{ item.manufacturer}}</div>
        <div style="flex: 1" class="value" *ngIf="!item.manufacturer" [ngStyle]="{display: !item.manufacturer ? 'flex' : 'none'}">N/A</div>
        <div style="flex: 1" class="value" *ngIf="item.individualPrice" [ngStyle]="{display: item.individualPrice ? 'flex' : 'none'}">${{item.individualPrice | number: '.2-2'}}</div>
        <div style="flex: 1" class="value" *ngIf="!item.individualPrice" [ngStyle]="{display: !item.individualPrice ? 'flex' : 'none'}">N/A</div>
        <div style="flex: 1" class="value" *ngIf="item.individualTax" [ngStyle]="{display: item.individualTax ? 'flex' : 'none'}">${{item.individualTax | number: '.2-2'}}</div>
        <div style="flex: 1" class="value" *ngIf="!item.individualTax" [ngStyle]="{display: !item.individualTax ? 'flex' : 'none'}">N/A</div>
        <div style="flex: 1; display: flex;" class="value">
          <div style="flex: 1; display: flex; align-items: center;">
            <div style="flex: 1;" class="value" *ngIf="item.individualShipping" [ngStyle]="{display: item.individualShipping ? 'flex' : 'none'}">${{item.individualShipping | number: '.2-2'}}</div>
            <div style="flex: 1;" class="value" *ngIf="!item.individualShipping" [ngStyle]="{display: !item.individualShipping ? 'flex' : 'none'}">N/A</div>
          </div>
          <div style="flex: 1; max-width: 80px; width: 80px;">
            <div class="btn cancel-button" (click)="deleteItem(item)">Delete</div>
          </div>
        </div>
      </div>
    </div>
    <mat-paginator style="background: rgba(190, 239, 200, 0.97); font-size: large" class="label" [length]="totalItems" [pageSize]="itemsPerPage" (page)="onChangedItemsPage($event)" *ngIf="catalogItems.length>0"></mat-paginator>
  </div>

  <div style="margin: 10px; border: 4px black solid; border-radius: 4px;" *ngIf="menu == 2">
    <h1 class="label" style="padding: 10px; ">Users</h1>
    <div style="display: flex; flex-direction: row; padding: 10px; ">
      <div style="flex: 1" class="label">Email</div>
      <div style="flex: 1" class="label">username</div>
      <div style="flex: 1" class="label">first name</div>
      <div style="flex: 1" class="label">last name</div>
    </div>
    <div *ngFor="let user of users; let i = index" style="display: flex; flex-direction: column; padding: 10px;" [ngStyle]="{backgroundColor: i % 2 !== 0 ? 'rgba(226, 248, 231, 0.97)' : 'rgba(190, 239, 200, 0.97)'}">
      <div style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; margin-top: 10px; margin-bottom: 10px;">
        <div style="flex: 1; display: flex;" class="value">
          <div style="width: 100%; overflow-y: scroll; word-wrap: break-word;">
            {{user.email}}
          </div>
        </div>
        <div style="flex: 1" class="value" *ngIf="user.userName" [ngStyle]="{display: user.userName ? 'flex' : 'none'}">{{user.userName}}</div>
        <div style="flex: 1" class="value" *ngIf="!user.userName" [ngStyle]="{display: !user.userName ? 'flex' : 'none'}">N/A</div>
        <div style="flex: 1" class="value" *ngIf="user.firstName" [ngStyle]="{display: user.firstName ? 'flex' : 'none'}">{{user.firstName}}</div>
        <div style="flex: 1" class="value" *ngIf="!user.firstName" [ngStyle]="{display: !user.firstName ? 'flex' : 'none'}">N/A</div>
        <div style="flex: 1; display: flex;" class="value">
          <div style="flex: 1; display: flex; align-items: center;">
            <div style="flex: 1" class="value" *ngIf="user.lastName" [ngStyle]="{display: user.lastName ? 'flex' : 'none'}">{{user.firstName}}</div>
            <div style="flex: 1" class="value" *ngIf="!user.lastName" [ngStyle]="{display: !user.lastName ? 'flex' : 'none'}">N/A</div>
          </div>
          <div style="flex: 1; max-width: 80px; width: 80px;">
            <div class="btn cancel-button" (click)="deleteUser(user)">Delete</div>
          </div>
        </div>
      </div>
    </div>
    <mat-paginator style="background: rgba(190, 239, 200, 0.97); font-size: large" class="label" [length]="totalUsers" [pageSize]="usersPerPage" (page)="onChangedUsersPage($event)" *ngIf="users.length>0"></mat-paginator>
  </div>

  <div style="margin: 10px; border: 4px black solid; border-radius: 4px;" *ngIf="menu == 3">
    <h1 class="label" style="padding: 10px; ">Add Item</h1>
    <form [formGroup]="itemForm" style="display: flex; flex-direction: column;">
      <div class="label-value" style="background-color: rgba(226, 248, 231, 0.97); padding: 5px;">
        <div class="label"style="flex: 1;">name:</div>
        <input class="value" style="flex: 1.5; margin-top: 3px;" type="text" formControlName="name" placeholder="Item name"/>
        <mat-error *ngIf="itemForm.get('name').invalid"></mat-error>
      </div>
      <div class="label-value" style="background-color: rgba(190, 239, 200, 0.97); padding: 5px;">
        <div class="label"style="flex: 1;">price:</div>
        <input class="value" style="flex: 1.5; margin-top: 3px;" type="text" formControlName="price" placeholder="Item price"/>
        <mat-error *ngIf="itemForm.get('price').invalid"></mat-error>
      </div>
      <div class="label-value" style="background-color: rgba(226, 248, 231, 0.97); padding: 5px;">
        <div class="label"style="flex: 1;">tax:</div>
        <input class="value" style="flex: 1.5; margin-top: 3px;" type="text" formControlName="tax" placeholder="Item tax"/>
        <mat-error *ngIf="itemForm.get('tax').invalid"></mat-error>
      </div>
      <div class="label-value" style="background-color: rgba(190, 239, 200, 0.97); padding: 5px;">
        <div class="label"style="flex: 1;">shipping:</div>
        <input class="value" style="flex: 1.5; margin-top: 3px;" type="text" formControlName="shipping" placeholder="Item shipping"/>
        <mat-error *ngIf="itemForm.get('shipping').invalid"></mat-error>
      </div>
      <div class="label-value" style="background-color: rgba(226, 248, 231, 0.97); padding: 5px;">
        <div class="label"style="flex: 1;">manufacturer:</div>
        <input class="value" style="flex: 1.5; margin-top: 3px;" type="text" formControlName="manufacturer" placeholder="Item manufacturer"/>
        <mat-error *ngIf="itemForm.get('manufacturer').invalid"></mat-error>
      </div>
      <div class="label-value" style="align-items: flex-start; background-color: rgba(190, 239, 200, 0.97); padding: 5px;">
        <div class="label"style="flex: 1; padding-top: 5px">description:</div>
        <textarea class="value" style="flex: 1.5; margin-top: 3px; height: 90px; overflow-y: scroll;" type="text" formControlName="description" placeholder="Item description"></textarea>
        <mat-error *ngIf="itemForm.get('description').invalid"></mat-error>
      </div>
    </form>
    <div class="label-value" style="background-color: rgba(226, 248, 231, 0.97); padding: 5px;">
      <div class="label" style="justify-content: space-between; flex: 1; display: flex; align-items: center;">
        <div class="label">
          image path:
        </div>
        <div class="btn confirm-button" style="margin-right: 5px;" (click)="addImagePath()">
          <span class="material-icons">
            done
            </span>
        </div>
      </div>
      <textarea class="value" style="flex: 1.5; margin-top: 3px;" type="text" placeholder="Image path" [(ngModel)]="imagePath"></textarea>
    </div>
    <div style="display: flex; flex-direction: row; width: 100%; padding: 5px; column-gap: 6px;">
      <div class="btn confirm-button" style="flex: 1" (click)="addItem()">Add Item</div>
      <div class="btn cancel-button" style="flex: 1" (click)="clear()">Clear</div>
    </div>
  </div>
</div>
