.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 10px;
}

.catalogContainer{
  padding: 5px;
  border-top: 2px solid black ;
}

.card-img{
  height: 150px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}





