
<div class="catalogContainer">
  <h1 class="header" style="justify-content: space-between;">
   Catalog
  </h1>

  <div class="cardList">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <ng-container *ngFor="let item of catalogItems">
      <div class="card" *ngIf="!isLoading">
        <img class="card-img" src="https://sm.pcmag.com/t/pcmag_in/news/a/amazon-fra/amazon-france-briefly-lists-ps5-price-and-release-date_b13v.1920.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="card-title large-font">
            <div class="value">{{item.name}}</div>
            <div class="value">${{item.individualPrice | number: '.2-2'}}</div>
          </div>
          <p class="card-text">{{item.description}}</p>
          <a class="btn confirm-button" (click)="onSelected(item)" style="margin-bottom: 1px;">add to cart</a>
          <a class="btn cancel-button" (click)="onShowMore(item)" style="margin-top: 1px;">show more</a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" (page)="onChangedPage($event)" *ngIf="catalogItems.length>0"></mat-paginator>

<!-- <router-outlet></router-outlet> -->
