.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
  padding: 10px;
}

.catalogContainer{
  /* padding-bott: 5px; */
}

.card-img{
  height: 150px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}





