

/* Invoice component main container */
.invoice-container{
  display: flex;
  flex-direction: column;
  /* border-top: 2px black solid; */
  border-bottom: 2px black solid;
}


.invoice-head{
  display: flex;
  flex-direction: row;
  background: black;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
}

.invoice-head-container{
  display: flex;
  flex-direction: row;
}


.invoice-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: stretch; */
}

.return-notification{
  color: black;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.return-button{
  color: black;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  border: black 1px solid;
  border-radius: 3px;
}

.return-all-button{
  background-color: white;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  border: black 1px solid;
  border-radius: 3px;
}

.return-button:hover{
  background-color: #37AE46;
}

.return-all-button:hover{
  background-color: #37AE46;
}



@media (max-width: 1490px) {
  .media-label-value{
    display: inline;
  }
  #center{
    width: 50%;
  }

  .media-head{
    height: 80px;
  }

}


