#settings-container{
  display: flex; flex-direction: row; padding: 10px;
}

.setting-column{
  flex: 1;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.setting-item{
  background: white;
  margin: 5px;
  border: black 1px solid;
  border-radius: 3px;
}

.input{
  flex: 1.5;
  margin-top: 3px;
}

.cvv-img{
  border: 2px solid black;
  width: 25px;
  height: 25px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-left: 3px;
  margin-top: 5px;
}

.cvv-img .img{
  position: absolute;
  width: 100px;
  height: 80px;
  /* padding: 10px 10px 5px; */
  border: black 3px solid;
  border-radius: 3px;
  top: -30px;
  right: 33px;
  background: #064887;
  display: none;
}

.cvv-img .img img{
  width: 100%;
  height: 100%;
}

.cvv-img:hover .img{
  display: block;
}


/* .message{
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 1px solid;
  border-radius: 1px;
  color: white;
  font-family: 'Oswald', sans-serif;
} */

.setting-item-header{
  display: flex;
  justify-content: center;
  height: 50px;
  text-align: center;
  align-items: center;
  margin-bottom: 0;
}

.setting-item-body{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;

}

input[type="file"]{
  visibility: hidden;
}

.confirm-password{
  background-color: rgba(190, 239, 200, 0.97);
  border: black 3px solid;
  border-radius: 3px;
  padding-bottom: 4px;
  padding-left: 2px;
  padding-right: 2px;
}

.image-container{
  padding-bottom: 5px;
  padding-top: 5px;
}

.image{
  border: black 3px solid;
  border-radius: 3px;
  height: 100px;
  width: 100px;
}

.message{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  height: 40px;
  border: black 1px solid;
  border-radius: 3px;
  color: white;
}

.radio-button{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 85px;
  text-align: center;
  align-items: center;
}


@media (max-width: 1000px) {
  #settings-container{
    flex-direction: column;
  }

}
